{% extends pack.template_base.template %}
{% block main %}
<h2>{{ page.name }}</h2>
	{%if form%}
		<form method="post" action=".">
			<table>
				<tr><th><label for="id_name">שם:</label></th><td><input id="id_name" type="text" name="name" maxlength="100" /></td></tr>
				<tr><th><label for="id_email">דוא"ל:</label></th><td><input id="id_email" type="text" name="email" maxlength="200" /></td></tr>
				<tr><th><label for="id_body">כמה מילים:</label></th><td><textarea id="id_body" rows="10" cols="40" name="body"></textarea><input type="hidden" name="subject" value="Support" id="id_subject" /></td></tr>
			</table>
			<input type="submit" class="submit" value="שלח" />
		</form>
	{%endif%}
	{% if message %}
		<div class="notice">
			{{message|linebreaks}}
		</div>
	{% endif %}
{% endblock %}