{% extends pack.template_base.template %}
{% block head %}
	{{pack.css.render}}
{% endblock %}
{% block content %}
<div class="separator_1 span-24">&nbsp;</div>
<div class="span-24">
	<a class="main_banner" href="{{ pages.1.url }}" class="tag_interactive">
		<p>Welcome to my new portfolio page. Check out my work in the gallery page and recent work.</p>
	</a>
</div>
<div class="separator_2 span-24">&nbsp;</div>
<div class="span-11">
	<a href="{{ pages.2.url }}" class="tag_interactive">Interactive</a>
</div>
<div class="vertical_separator span-1">&nbsp;</div>
<div class="span-11 last">
	<a href="{{ pages.3.url }}" class="tag_print">Print</a>
</div>
{% endblock %}