{% extends "site/catalog.html" %}
{% load markup %}
{% block content %}
	{% if items %}
		<h2>{{page.name}}</h2>
		<ul class="catalog {{ page.tags_string }} horizontal">
			{% for i in items %}
				<li class="c{{forloop.counter}} {% cycle 'odd' 'even' %}">
					<a target="_blank" class="item-thumb new-window" href="{{i.sub_title}}">{{ i.render_thumb }}</a>
					<a target="_blank" class="item-title new-window" href="{{i.sub_title}}">{{i}}</a>
					{% if i.sub_title %}
					<a target="_blank" class="item-sub-title new-window" href="{{i.sub_title}}">{{i.description}}</a>
					{% endif %}
				</li>
			{% endfor %}
			{% if not items|length|divisibleby:"2" %}
			<li>&nbsp;</li>
			{% endif %}
		</ul>
		<a target="_blank" class="rss" href="rss.xml">RSS</a>
	{% endif %}
{% endblock %}