/** yonat-doal.com design **/
a {text-decoration:none;}
body.rtl ul, ul {list-style: none; margin: 0; padding: 0;}
body.rtl li, li {margin: 0; padding; 0;}

.rtl {direction: rtl;}

body { 
	background: #8fa2a3 url({{ pack.background_gradient.get_file }}) repeat-x;
}

#header {height: 51px; margin-top: 20px;}
h1 {margin: 0; padding:0;}
#footer {text-align: center; color: #333; direction: ltr;}
#footer a {color: black; text-decoration: none; font-weight: bold;}
#footer-powered, #footer-powered a {color: #353535;} 

.logo a{ 
	display: block;
	width:288px;
	height:67px;
}

.logo span {display: none;}

#navigation {float: right; width: auto; }
.rtl #navigation {float: left; }

.nav li {float: left;}
.rtl .nav li {float: right;}

.nav a {
	color:black;
	font-size:12px;
	font-weight:bolder;
	height:15px;
	line-height:14px;
	margin-left:1px;
	padding:0 8px;
	text-decoration:none;
}
.rtl .nav a {margin-right: 1px; margin-left: 0px;}

h2, .t_hcatalog h2, .nav a {background:#51afd1;}
h2 {font-size: 14px; font-weight: bold; padding: 0 3px; height: 15px; line-height: 14px; margin: 5px 0 18px}
.page_contact h2, .nav .contact {background:#fb86b2;}
.page_affiliates h2, .nav .affiliates {background:#9fa3c7;}
.page_dpos h2, .page_print h2, .nav .print {background:#bb7dca;}
.page_about h2, .nav .about {background:#bad433;}
.page_about h3 {background: #8ea2a3; font-size: 14px; font-weight: bold; padding: 0 3px; height: 15px; line-height: 14px; margin: 5px 0 18px}
.nav .home {background:#f8b920;}

.page_home h2 {
	display: block;
	text-indent:-9009px;
	width:950px;
	height:89px;
	margin-top: 30px;
	padding: 0;
	overflow:hidden;
}

.page_item h3, .page_home h3 {background: #6a8085; font-weight: none; padding-left: 10px; margin: 19px 0 6px 0; font-weight: bold; font-size: 12px; height: 15px;}
.rtl .page_item h3,.rtl .page_home h3 {padding-right: 10px; padding-left:0; }
	
.page_item .last h3 {background: #799197;}
.page_home {line-height: 15px;}

.dark-blue {background: #bdc9ca !important;}
.light-blue {background: #dfedee !important;}
.light-cyan {background: #d6e2e2;}

.separator_2 {border-top:2px solid #394040; height:2px; margin-top: 30px !important;}

#content {border-top: 2px solid #394040;	padding-top: 6px; margin-top: 7px;}

.main_banner {
	display: block;
	text-indent:-9009px;
	width:309px;
	height:144px;
	overflow:hidden;
}

.tag_interactive { 
	display: block;
	text-indent:-9009px;
	/*width:474px;*/
	height:218px;
	overflow:hidden;
}

.tag_wrap {width: 475px;}
.tag_wrap_first { 
	display: block;
	height:218px;
	margin: 0 !important;
	width: 475px;
}

.rtl .tag_wrap_first {background-position: 0;}

.tag_print {
	background:url({{ pack.tag_print.get_file }}) no-repeat;
	display: block;
	text-indent:-9009px;
	height:218px;
	overflow:hidden;
}

/************** Catalog **************/
.catalog li {display: block; height: 190px; float: left; width: 50%; padding: 13px 0 0 0; border-bottom: 3px solid #97a8aa;}
.rtl .catalog li {float: right;}
	
.catalog a, .catalog span {color:black; text-decoration:none; float:left;}
.rtl .catalog a, .rtl .catalog span {float: right;}
	
.item-thumb img {border: 2px solid #fff;}
.item-thumb {border: 5px solid #829da3;}
.item-title {font-size:14px; font-weight: bold; display: block; margin-bottom: 13px; width: 180px; line-height: 12px; height: 15px; margin-left: 20px; padding-left:5px; border-left: 8px solid #51afd1;}
.rtl .item-title {margin-right: 20px; padding-right:5px; border-right: 8px solid #51afd1; margin-left: 0; padding-left: 0; border-left: none;}

.page_print .item-title {border-color: #bb7dca;}
.page_affiliates .item-title {border-color: #9FA3C7;}
.item-sub-title {display: block; width: 190px; padding-left: 20px; line-height: 16px;}
.rtl .item-sub-title {padding-right: 20px; padding-left: 0;}

.catalog li.odd {background:url({{ pack.vertical_separator.get_file }}) no-repeat scroll 463px 0;}
.rtl .catalog li.odd {background: url({{ pack.vertical_separator.get_file }}) no-repeat scroll 10px 0;}

.rss {display: none;}
/************** Item Page **************/
.page_item h3 {color: #fff; margin: 0;font-weight: normal;}
.page_item p {line-height: 14px; padding-top: 2px;}
div.item_wrap {height: 411px; width: 730px; margin-left:120px;}
.rtl div.item_wrap {margin-right:120px; margin-left: 0;}

div.item-meta {padding-top: 22px; margin-left: 120px;}
.rtl div.item-meta {margin-right: 120px; margin-left: 0;}

.item-prev, .item-next {color: black; background: #fff; text-decoration: none; display:block; width: 170px; text-align:center; margin-bottom: 6px; height: 15px;line-height: 15px;}
/************** Contact **************/
textarea {border: 2px solid #87a3bd; width: 296px; height:182px; margin:0;}

label {width: 150px; float: left; text-align: right; padding-right: 10px; height: 17px; line-height: 17px;}
.rtl label {float: right; text-align: left; padding-left: 10px; padding-right: 0;}

input.text {border: 1px solid #87a3bd; height: 17px; width: 148px; margin: 0; padding: 0;}
input.submit {
    background: #fa75a7;
    padding: 0px 16px;
    color: white;
    border: none;
	margin-left: 160px;
	font-family: arial;
	font-weight: bold;
}
.rtl input.submit {margin-right: 160px; margin-left: 0;} 
	
form p {padding: 0; margin: 20px 0 0 0;}
form {padding: 10px 0 0 0;}

.page_contact #content {background:url({{ pack.en_contact_bg.get_file }}) no-repeat scroll top left; }
.rtl.page_contact #content {background:url({{ pack.contact_bg.get_file }}) no-repeat scroll top right; }

#content ol {list-style-type: square; list-style-position: inside; margin:0 0 1.5em;}