body.rtl ul, ul {list-style: none; margin: 0; padding; 0;}
body.rtl li, li {margin: 0; padding; 0;}

.rtl {direction: rtl;}

body { 
	background: #8fa2a3 url({{ pack.img_background_gradient.get_file }}) repeat-x;
}

#header {
	height: 100px;
}

.logo a{ 
	background:url({{ pack.img_logo.get_file }}) no-repeat;
	display: block;
	position: absolute;
	top: 7px;
	width:231px;
	height:126px;
}

.logo span {display: none;}

#navigation {
	float: left;
	width: auto;
}

.nav li {
	float: right;
}
.nav a {
	display: block;
	margin-right: 1px;
	height: 15px;
	padding: 0 8px;
}

.nav .n_5 { 
	background:#fb86b2;
}

.nav .n_4 { 
	background:#bb7dca;
}

.nav .n_3 { 
	background:#51afd1;
}

.nav .n_2 { 
	background:#bad433;
}

.nav .n_1 {
	background:#f8b920;
}

.separator_1 {
	background:url({{ pack.img_separator_1.get_file }}) repeat-x;
	display: block;
	height:6px;
}

#content {
	background:url({{ pack.img_separator_1.get_file }}) repeat-x;
	padding-top: 6px;
	margin-top: 7px;
}

.main_banner {
	background:url({{ pack.img_main_banner.get_file }}) no-repeat;
	display: block;
	text-indent:-9009px;
	width:950px;
	height:334px;
}

.separator_2 {
	background:url({{ pack.img_separator_2.get_file }}) repeat-x;
	display: block;
	height:8px;
}

.tag_interactive { 
	background:url({{ pack.img_tag_interactive.get_file }}) no-repeat;
	display: block;
	text-indent:-9009px;
	/*width:474px;*/
	height:218px;
}

.vertical_separator { 
	background:url({{ pack.img_vertical_separator.get_file }}) no-repeat;
	display: block;
	height:218px;
}

.tag_print {
	background:url({{ pack.img_tag_print.get_file }}) no-repeat;
	display: block;
	text-indent:-9009px;
	/*width:474px;*/
	height:218px;
}

/************** Catalog **************/
.catalog a {
color:black;
font-family:Tahoma;
text-decoration:none;
float: right;
}

.catalog li {float: right; width: 50%;}

/************** Item Page **************/
.item_wrap {
	height: 500px;
}