{% extends pack.base.template %}
{% load markup %}
{% block content %}
<div class="span-24">
		<h2 class="transBG">{{ dic.moto }}</h2>

		<div class="span-8">
			{{ page.dic.text|textile }}
		</div>
		<div class="span-8">
			<a class="main_banner" href="{{ pages.1.url }}" class="tag_interactive">{{ pages.1.name }}</a>
		</div>	
		<div class="span-8 last">
			{{ page.dic.text_more|textile }}
		</div>
		
</div>
<div class="separator_2 span-24">&nbsp;</div>
<div class="span-12 tag_wrap tag_wrap_first">
	<a href="{{ pages.2.url }}" class="tag_{{ pages.2.slug_name}}">{{ pages.2.name}}</a>
</div>
<div class="span-12 tag_wrap last">
	<a href="{{ pages.3.url }}" class="tag_{{ pages.3.slug_name }}">{{ pages.3.name }}</a>
</div>
{% endblock %}